* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }

.flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 12px;
    padding: 12px;
    font-size: 20px;
}

#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}
.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.select {
    font-size: 25px;
}

table
{
    width: auto;
    font: 19px Arial;
}
table, th, td
{
    border: solid 2px #D1D3D5;
    border-collapse: collapse;
    text-align: center;
}
img
{
    width: 15%;
}